@namespace SmallsOnline.Web.AdminSite.Server.Shared.Navigation

<ul class="navbar-nav ms-auto px-2 pt-0">
    <li class="nav-item">
        <NavLink class="nav-link" ActiveClass="active" Match="@NavLinkMatch.All" href="/">
            <i class="bi bi-house-fill"></i> Home
        </NavLink>
    </li>
    <AuthorizeView>
        <Authorized>
            <li class="nav-item">
                <NavLink class="nav-link" ActiveClass="active" Match="@NavLinkMatch.Prefix" href="/favorite-music-of">
                    <i class="bi bi-headphones"></i> Favorite Music Of
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" ActiveClass="active" Match="@NavLinkMatch.Prefix" href="/music-playlist">
                    <i class="bi bi-music-note-list"></i> Playlists
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>
    <li class="nav-item">
        <AuthorizeView>
            <Authorized>
                <a href="MicrosoftIdentity/Account/SignOut" class="nav-link">
                    <i class="bi bi-person-square"></i> Sign out
                </a>
            </Authorized>
            <NotAuthorized>
                <a href="MicrosoftIdentity/Account/SignIn" class="nav-link">
                    <i class="bi bi-person-square"></i> Sign in
                </a>
            </NotAuthorized>
        </AuthorizeView>
    </li>
</ul>