@namespace SmallsOnline.Web.PublicSite.Server.Shared
@inherits LayoutComponentBase

<div>
    <header>
        <SiteNavbar />
    </header>
    <main>
        <div class="container-lg pb-3">
            <div class="row py-3 justify-content-center">
                <div class="col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                    @Body
                </div>
                <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-4 col-xxl-3 pt-4 pt-lg-0">
                    <SidebarItem />
                </div>
            </div>
        </div>
    </main>
</div>