@using SmallsOnline.Web.PublicSite.Server.Shared.AboutMe

@namespace SmallsOnline.Web.PublicSite.Server.Pages

@page "/about-me"

<HeadContent>
    <!-- Generic meta tags -->
    <PageTitle>
        Smalls.Online - About Me
    </PageTitle>
    <meta content="The personal website of Timothy Small (Smalls)." name="description" />
    <meta content="Tim Small" name="author" />

    <!-- OpenGraph/Facebook meta tags -->
    <meta content="Smalls.Online - About Me" name="title" property="og:title" />
    <meta content="The personal website of Timothy Small (Smalls)." property="og:description" />
    <meta content="https://smalls.online/about-me" property="og:url" />
    <meta content="website" property="og:type">
    <meta content="https://smalls.online/smalls.png" property="og:image">

    <!-- Twitter meta tags -->
    <meta content="summary_large_image" name="twitter:card">
    <meta content="Smalls.Online - About Me" name="twitter:title">
    <meta content="The personal website of Timothy Small (Smalls)." name="twitter:description">
    <meta content="smalls.online" property="twitter:domain">
    <meta content="https://smalls.online/about-me" property="twitter:url">
    <meta content="https://smalls.online/smalls.png" name="twitter:image">
</HeadContent>

<div class="fade-slide-in">
    <div class="card shadow">
        <div class="card-header">
            <h1 class="mb-0">
                <i class="bi bi-person-lines-fill"></i> About Me
            </h1>
        </div>
        <div class="card-body">
            <AboutMeText />
            <AboutMeEducation />
            <AboutMeSkills />
        </div>
    </div>
</div>