@namespace SmallsOnline.Web.AdminSite.Server.Shared

<AuthorizeView>
    <Authorized>
        <a href="MicrosoftIdentity/Account/SignOut" class="nav-link">Sign out</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn" class="nav-link">Sign in</a>
    </NotAuthorized>
</AuthorizeView>