@namespace SmallsOnline.Web.AdminSite.Server.Components
@inherits LayoutComponentBase

<div>
    <header>
        <div class="background-img"></div>
        <SiteNavbar />
    </header>
    <main>
        <div class="container-xl pb-3">
            <div class="row py-3 justify-content-center">
                <div class="col-12">
                    <ErrorBoundary>
                        @Body
                    </ErrorBoundary>
                </div>
            </div>
        </div>
    </main>
</div>