@namespace SmallsOnline.Web.PublicSite.Server.Shared.Navigation

<ul class="navbar-nav ms-auto px-2 pt-0">
    <li class="nav-item">
        <a class="nav-link@(_currentPageLocation!.TopLevelPage == "" ? " active" : "")" href="/" id="navitem_home">
            <i class="bi bi-house-fill"></i> Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link@(_currentPageLocation.TopLevelPage == "about-me" ? " active" : "")" href="/about-me" id="navitem_about-me">
            <i class="bi bi-person-lines-fill"></i> About Me
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link@(_currentPageLocation.TopLevelPage == "blog" ? " active" : "")" href="/blog/list/1" id="navitem_blog">
            <i class="bi bi-journal-text"></i> Blog
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link@(_currentPageLocation.TopLevelPage == "projects" ? " active" : "")" href="/projects" id="navitem_projects">
            <i class="bi bi-collection-fill"></i> Projects
        </a>
    </li>
    @{
        #if DEBUG
    }
    <li class="nav-item">
        <a class="nav-link@(_currentPageLocation.TopLevelPage == "totally-legit-link" ? " active" : "")" href="/totally-legit-link" id="navitem_totally-legit-link">
            🤔 Legit Link
        </a>
    </li>
    @{
        #endif
    }
    <li class="nav-item dropdown">
        <button aria-expanded="false" class="nav-link dropdown-toggle@(_currentPageLocation.TopLevelPage == "top-music" ? " active" : "")" data-bs-toggle="dropdown" role="button">
            <i class="bi bi-headphones"></i> Top Music
        </button>
        <ul class="dropdown-menu dropdown-menu-dark bg-dark">
            <li>
                <a class="dropdown-item py-3 py-md-2@(_currentPageLocation.Path == "/top-music/favorites-of/2020" ? " active" : "")" href="/top-music/favorites-of/2020">
                    Favorite Music of 2020
                </a>
            </li>
            <li>
                <a class="dropdown-item py-3 py-md-2@(_currentPageLocation.Path == "/top-music/favorites-of/2021" ? " active" : "")" href="/top-music/favorites-of/2021">
                    Favorite Music of 2021
                </a>
            </li>
            <li>
                <a class="dropdown-item py-3 py-md-2@(_currentPageLocation.Path == "/top-music/favorites-of/2022" ? " active" : "")" href="/top-music/favorites-of/2022">
                    Favorite Music of 2022
                </a>
            </li>
            <li>
                <a class="dropdown-item py-3 py-md-2@(_currentPageLocation.Path == "/top-music/favorites-of/2023" ? " active" : "")" href="/top-music/favorites-of/2023">
                    Favorite Music of 2023
                </a>
            </li>
            <li>
                <a class="dropdown-item py-3 py-md-2@(_currentPageLocation.Path == "/top-music/favorites-of/2024" ? " active" : "")" href="/top-music/favorites-of/2024">
                    Favorite Music of 2024
                </a>
            </li>
        </ul>
    </li>
</ul>