@namespace SmallsOnline.Web.PublicSite.Server.Shared.Navigation

<div class="container pt-4">
    <nav class="navbar navbar-dark bg-gunmetal navbar-expand-lg rounded">
        <div class="container-fluid">
            <div class="d-flex px-2 flex-fill">
                <div class="flex-fill align-self-center">
                    <NavbarLogo />
                </div>
                <div class="align-self-center">
                    <button aria-controls="navbar-collapse-container" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar-collapse-container" data-bs-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="w-100">
                <div class="navbar-collapse collapse" id="navbar-collapse-container">
                    <NavbarItems />
                </div>
            </div>
        </div>
    </nav>
</div>