@namespace SmallsOnline.Web.PublicSite.Server.Shared.Navigation

<div class="container pt-4">
    <nav class="navbar navbar-dark bg-gunmetal navbar-expand-lg rounded">
        <div class="container-fluid">
            <div class="d-flex px-2 flex-fill">
                <div class="flex-fill align-self-center">
                    <NavbarLogoSlim />
                </div>
            </div>
            <div class="w-100">
            </div>
        </div>
    </nav>
</div>