@namespace SmallsOnline.Web.AdminSite.Server

<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />

    <meta charset="utf-8" />

    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />

    <PageTitle>Smalls.Online</PageTitle>
    <HeadOutlet @rendermode="@(new InteractiveServerRenderMode(false))" />

    <!-- Theme color attribute. Primarily for theming supported web browsers. -->
    <meta content="#435c76" name="theme-color" />

    <!-- Twitter Posting Format -->
    <meta content="summary" name="twitter:card" />
    <meta content="@@thetimmysmalls" name="twitter:creator" />

    <!-- OpenGraph Data -->
    <meta content="https://smalls.online/smalls.png" property="og:image" />
    <meta property="og:locale" content="en_US" />

    <link href="favicon.ico" rel="icon" type="image/ico" />

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="css/bootstrap-icons-custom.css" rel="stylesheet" />
    <link href="css/bootstrap-custom.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/animation/animation.css" rel="stylesheet" />
    <link href="highlight.js/styles/github.min.css" rel="stylesheet" />
    <link href="SmallsOnline.Web.PublicSite.Server.styles.css" rel="stylesheet" />

    <script src="highlight.js/highlight.min.js" suppress-error="BL9992"></script>
</head>

<body>

    <div class="pageroutes">
        <div id="components-reconnect-modal">
            <div class="container-xl pt-3">
                <div class="row">
                    <div class="col">
                        <div class="card page-card shadow fade-slide-in">
                            <div class="card-header page-card-header">
                                <h1>
                                    <i class="bi bi-bug-fill"></i> Server connection lost
                                </h1>
                            </div>
                            <div class="card-body page-card-body">
                                <p class="h2">
                                    Attempting to reconnect to the server...
                                </p>
                                <div class="progress" role="progressbar" aria-label="Reconnection progress bar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                        style="width: 100%"></div>
                                </div>
                                <div>
                                    Current reconnect attempt: <span id="components-reconnect-current-attempt"
                                        class="font-monospace"></span> / <span id="components-reconnect-max-retries"
                                        class="font-monospace"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-maincontent">
            <Routes @rendermode="@(new InteractiveServerRenderMode(false))" />
        </div>
    </div>

    <script src="js/bootstrap/bootstrap.bundle.min.js" suppress-error="BL9992"></script>
    <script src="_framework/blazor.web.js" suppress-error="BL9992"></script>
</body>

</html>