@page "/cloudflare/5xx"
@namespace SmallsOnline.Web.PublicSite.Server.Pages.Cloudflare
@using SmallsOnline.Web.PublicSite.Server.Shared.Navigation
@using SmallsOnline.Web.PublicSite.Server.Shared.Sidebar
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />

    <meta charset="utf-8" />

    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />

    <title>Smalls.Online - 5xx error</title>

    <!-- Theme color attribute. Primarily for theming supported web browsers. -->
    <meta content="#435c76" name="theme-color" />

    <!-- Twitter Posting Format -->
    <meta content="summary" name="twitter:card" />
    <meta content="@@thetimmysmalls" name="twitter:creator" />

    <!-- OpenGraph Data -->
    <meta content="https://smalls.online/smalls.png" property="og:image" />
    <meta property="og:locale" content="en_US" />

    <link href="favicon.ico" rel="icon" type="image/ico" />

    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/bootstrap-icons-custom.css" rel="stylesheet" />
    <link href="/css/bootstrap-custom.css" rel="stylesheet" />
    <link href="/css/app.css" rel="stylesheet" />
    <link href="/css/animation/animation.css" rel="stylesheet" />
    <link href="/SmallsOnline.Web.PublicSite.Server.styles.css" rel="stylesheet" />
</head>

<body>

    <header>
        <div class="background-img"></div>
        <component render-mode="Static" type="typeof(SiteNavbar)" />
    </header>

    <main>
        <div class="container-xl pb-3">
            <div class="row py-3 justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9" id="pagecontent">
                    <div class="card page-card shadow">
                        <div class="card-header page-card-header">
                            <h1 class="mb-0">
                                <i class="bi bi-bug-fill"></i> 5xx error
                            </h1>
                        </div>
                        <div class="card-body page-card-body">
                            <div class="row">
                                <div class="col">
                                    <div>
                                        ::CLOUDFLARE_ERROR_500S_BOX::
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    Name
                                                </th>
                                                <th scope="col">
                                                    Value
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    IP address
                                                </th>
                                                <td>
                                                    <code>
                                                        ::CLIENT_IP::
                                                    </code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Ray ID
                                                </th>
                                                <td>
                                                    <code>
                                                        ::RAY_ID::
                                                    </code>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="col-10 col-sm-6 col-md-5 col-lg-3 col-xl-3 col-xxl flex-lg-grow-0 pt-4 pt-lg-0 order-lg-first">
                    <component render-mode="Static" type="typeof(SidebarItemStatic)" />
                </div>
            </div>
        </div>
    </main>

    <script src="js/bootstrap/bootstrap.bundle.min.js" suppress-error="BL9992"></script>
</body>

</html>
