@namespace SmallsOnline.Web.Lib.Components.Sidebar

<div class="profile-img border border-primary rounded-circle @_currentAnimationClass">
    <img alt="Timothy Small"
         height="212"
         width="212"
         class="rounded-circle" @onclick="HandleImageClick" src="@(!_isSetToDumb ? "https://cdn.smalls.online/images/site/me.jpg" : "https://cdn.smalls.online/images/site/me_dumb.jpg")" />
</div>