@namespace SmallsOnline.Web.PublicSite.Client.Components.Sidebar

<div class="profile-img border border-primary rounded-circle @_currentAnimationClass">
    <img alt="Timothy Small"
         height="997"
         width="997"
         class="rounded-circle img-fluid" @onclick="HandleImageClick" src="@(!_isSetToDumb ? "https://cdn.smalls.online/images/site/me.jpg" : "https://cdn.smalls.online/images/site/me_dumb.jpg")" />
</div>